* {
  box-sizing: border-box;
}

:root {
  --focus: 1px dotted #000000;
}


body {
  margin: 0;
  font-size: 13px;
  font-family: $font-primary;
  font-weight: 500;
  line-height: 20px;
  color: $color-primary;

}

h1,
h2 {
  font-family: $font-secondary;
}

a {
  text-decoration: none;
  color: $color-primary-link;



  &:focus {
    outline: var(--focus);
    border: none;
  }

  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
}

.text-large {
  font-size: 18px;
  line-height: 32px;
}


.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;

  @include mQ($small) {

    text-align: center;
  }
}

.footer-link {
  position: relative;
  top: -48px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;

}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;



}

.main-content {
  @include mQ($small) {
    margin-top: 85px;
  }

}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
  }

  @include mQ($small) {
    padding: 10px;
  }

  .small {
    max-width: 600px;
    margin: 0 auto;
  }
}


.pos-absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {

  @include transition($what: height);
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 200px;

}


.max {
  @include transition($what: height);
  transition: height .3s ease-in-out;
  overflow: auto;
  height: 200px;
  z-index: 20;
}

.mobile-margin {
  @include mQ($small) {
    margin-top: 91px;
  }

}

.disabled {

  pointer-events: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}



.flex-container {
  @include flexbox();
  position: relative;
}

.grid {
  @include grid();
}

.flex {
  @include flex();
}

.flex-2 {
  @include flex(2);
}

.flex-3 {
  @include flex(3);
}

.flex-4 {
  @include flex(4);
}

figure {
  margin: 0;
  width: 100%;
}